*{
    margin:0;
    box-sizing: border-box;
}
nav{
    margin-top: 30px;
    display:flex;
 margin-bottom: 30px;
}
nav .BR-logo{
    letter-spacing: 3px;
    text-decoration: none;
}    
   
.BR-logo{
   
    margin-left: 20px;
   
}
nav ul li{
    display:inline;
 margin-bottom: 30px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
nav ul li a{
    text-decoration: none;
    padding: 5rem;
    
}
/* projects */
.project-images{
    display:flex;
}